# =====================
# Credenciales
# =====================
credentials/
*.env

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
dist/
build/

# =====================
# R / RENV
# =====================
# Historial y temporales
.Rhistory
.RData
.Ruserdata
.Renviron

# =====================
# Entornos virtuales
# =====================
.venv/
venv/
env/
renv/library/
R/



# =====================
# Poetry
# =====================
# (poetry.lock SÍ se versiona)
# .cache de poetry no debe ir al repo
.poetry/
.cache/pypoetry/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/
*.nbconvert.ipynb

# =====================
# Datos
# =====================
data/raw/
tmp/*


# =====================
# Reportes y outputs
# =====================
doc/figures
doc/tables
outputs/
results/
notebooks/iframe_figures
website/_site

# =====================
# Logs
# =====================
*.log

# =====================
# IDE / Editors
# =====================
.kade/
.idea/
*.swp
*.swo
*.kate-swp
*.~lock*

# =====================
# Sistema operativo
# =====================
.DS_Store
Thumbs.db

# =====================
# Archivos específicos
# =====================
src/testing_code.py
.tmp/
